.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
#tablaDatos{
  padding-top: 80px;
  margin: 0 auto;
  width: 70%;
}
#agregar{
  cursor: pointer;
}
#exportar{
  margin-bottom: 15px;
}
#filtros{
  margin: 10px;
}
.formulario{
  margin: 0 auto;
  border: gray solid 2px;
  border-radius: 15px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.formulario h1{
  text-align: center;
  color: #6B675D;
}
a:link, a:hover, a:visited, a:active, a {
  text-decoration:none !important;
  color:white !important;
}
th{
  text-align: center !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
